.footer{
    background: url('../assets/img/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 70px;
}

.footer_content{
    display: flex;
    padding-bottom:150px ;
}

.footer_left{
    width: 243px;
    text-align: left;
}

.footer_right{
    display: flex;
    margin-left: 300px;
}
.footer_right_card{
    width: 145px;
    text-align: left;
    margin-left: 86px;
}
.footer_logo_text{
    width: 243px;
    margin-top: 25px;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #546285;
    
}
.footer_right_title{
    text-transform: uppercase;
    font-family: "Inter",sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #08090A; 
    letter-spacing: 1.5px;
}

.footer_right_list li{
    padding-top: 28px;
    font-family: "Inter",sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:#546285;
    
}
.footer_end{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_end_text{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color:#353448;
}


.footer_end_text span{
    color:#35B8BE;

}

.footer_social_image{
    padding-left: 24px;
}

@media(max-width:998px){
    .footer_end{
        display: block;
    }

    .footer_content{
        width: 350px;
        margin-left: 30px;
    }

    .footer_social{
        margin-top: 20px;
        margin-right: 30px;
    }

    

    .footer_right{
        display: none;
    }

    
}